{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio_sesion_cliente.css' %}">
    <link rel="stylesheet" href="{% static 'css/inicio_sesion_administrador.css' %}">
    <link rel="stylesheet" href="{% static 'css/recuperacion_contraseña.css' %}">
    <link rel="icon" type="image/jpg" href="{% static 'img/favicon.webp' %}"/>

    <title>Piopitas</title>
</head>
<body>
    <header class="header">
        <input type="checkbox" class="header__checkbox" id="open-nav">
        <label for="open-nav" class="material-symbols-outlined header__icon-open-nav">menu</label>
        <div class="header__logo-container">
            <img class="header__logo" src="{% static 'img/logo_piopitas.webp' %}" alt="PIOPITAS">
        </div>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><span class="material-symbols-outlined">home</span><a class="nav__link" href="/">Inicio</a></li>
                <li class="nav__item"><span class="material-symbols-outlined">fork_spoon</span><a class="nav__link" href="/menu">Menú</a></li>
                <li class="nav__item"><span class="material-symbols-outlined">star</span><a class="nav__link" href="/resenas">Reseñas</a></li>
                {% if user.is_authenticated %}
                <li class="nav__item"><span class="material-symbols-outlined">logout</span><a class="nav__link" href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                <li class="nav__item"><span class="material-symbols-outlined">person</span><a class="nav__link" href="/inicioS">Sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section class="main__section-inicio-sesion">
            <div class="main__container-text">
                <p class="text-top">¡Revisa tu bandeja!</p>
                <h2 class="text-title">Correo enviado</h2>
                <p class="text-bottom">Si ese correo está registrado en Piopitas, te enviamos un enlace para <span class="text-bottom-span">restablecer tu contraseña.</span> Revisa también la carpeta de spam.</p>
            </div>

            <div class="main__container-form">
                <div class="link-al-registro link-vuelta-cliente">
                    <a href="/inicioS">Volver a iniciar sesión</a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p class="footer__copyright">© 2026 Piopitas Restaurantes. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
