:root{
    /* FUENTES */
    --font-title: 'Playfair Display';
    --font-text: 'Montserrat';
    /* COLORES */
    --bg__header-footer: #F2E7E6;
    --texto-oscuro: #2A140D;
    --texto-claro: #B1B2AB;
    --bg-claro: #F4F1EE44;
    --dorado-elegante: #C89B3C;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5{
    font-family: var(--font-title);
}
p,a,label,li,span{
    font-family: var(--font-text);
}
body{
    overflow-x: hidden;
    background-color: #E8E6E3;
}
/*TEXT TOP REGISTRO START*/
.main__section-inicio-sesion{
    min-height: 100dvh;
    justify-items: center;
}
.main__container-text{
    margin-top: 30px;
    height: 30dvh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-top{
    color: #A32A07;
    font-weight: 700;
    margin-left: 20px;
}
.text-title{
    color: var(--texto-oscuro);
    text-align: center;
    letter-spacing: 1.4px;
    font-size: 1.9rem;
}
.text-bottom{
    color: var(--texto-oscuro);
}
.text-bottom-span{
    font-weight: 600;
    color: #A32A07;
    font-style: italic;
}
/*TEXT TOP REGISTRO END*/

/*FORM REGISTRO START*/
.registro__form {
    display: flex;
    flex-direction: column;
}
.form__label{
    font-size: .9rem;
    color: var(--texto-oscuro);
}
select,input{
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 7px 0 10px 0;
    color: var(--texto-oscuro);
}
.posicion-tyt{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}
.tyt-label{
    font-size: 1rem;
    min-width: auto;
    text-align: center;
}
.tyt-label > a{
    text-decoration: none;
}
.checkbox-tyt{
    width: 30px;
    margin: 0;
}
.boton__registro{
    padding: 4px;
    border: none;
    border-radius: 4px;
}
.boton__registro-link{
    text-decoration: none;
}
/*FORM REGISTRO END*/

/*RESPONSIVE SECTION*/
@media screen and (min-width:300px){
    .main__section-form{
        margin: 70px 0 100px 0;
    }
    .tyt-label{
    font-size: .8rem;
    }
}
@media screen and (min-width:400px){
    .main__container-text{
        max-height: 200px;
    }
}
@media screen and (min-width:550px){
    .main__section-form{
        min-width: 80%;
    }
    .main__section-form{
        margin: 20px 0 100px 0;
    }
}
@media screen and (min-width:750px){
    .text-bottom{
        text-align: center;
    }
    .main__section-form{
        margin: 10px 0 100px 0;
    }
}
@media screen and (min-width:900px){
    .text-top{
        margin-left: 50px;
        font-size: 1rem;
    }
    .text-title{
        font-size: 2.9rem;
    }
    .text-bottom{
        font-size: 1.3rem;
    }
    .registro__form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr) 30px 40px;
        gap: 30px;
    }
    .posicion-tyt{
        grid-column: span 2;
        width: 45%;
        margin: auto;
        gap: 0;
    }
    .boton__registro{
        grid-column: span 2;
    }
    .checkbox-tyt{
        width: 30px;
        margin: auto 0;
    }
}
@media screen and (min-width:1000px){
    .main__container-text{
        margin-bottom: 30px;
    }
    .form__label{
    font-size: 1rem;
    }
    select,input{
        font-size: 1rem;
    }
    .posicion-tyt{
        gap: 10px;
    }
    .tyt-label{
        font-size: 1rem;
    }
    .boton__registro{
        font-size: 1rem;
    }
    
}
@media screen and (min-width:1400px){
    .form__label{
    font-size: 1.2rem;
    }
    select,input{
        font-size: 1.1rem;
        padding: 11px;
    }
    .tyt-label{
        font-size: 1.1rem;
    }
}